/* font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive; */

body {
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(199, 236, 238,1.0); */
}

.background { 
  background-image: url(./assets/background_image.JPG);
  background-size: 800px 800px;
}

.margin {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.center-image {
  margin: 0 10px 0 150px;
}
/* left wast 250px */

.text-color {
  font-family: 'Pacifico', cursive;
  color: rgb(240,80,110);
}

.p-text {
  font-family: 'Montserrat', sans-serif;
}

.merch-title {
  font-family: 'Pacifico', cursive;
  color: rgb(240,80,110);
  padding: 10px;
  margin: auto;
  text-align: center;
}

.background-color {
  background-color: white;
  opacity: 0.85;
}

.font {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: black;
  font-size: xx-large;
}

.nothinginthcart {
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: xx-large;
}

.product-card {
  text-align: center;
}

.center-products {
  margin: 10px 0 10px 450px;
}
/* left was 550px */

.login-font {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: x-large;
}

.signup-login {
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 50px;
}

.pleaselogin {
  font-family: 'Montserrat', sans-serif;
  color: rgb(240,80,110);
  font-weight: bolder;
  font-size: x-large;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding {
  padding: 5%; 
}

footer {
  border-top: solid rgb(240,80,110) 2px;
  margin: 15px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: medium;
  font-weight: bolder;
  opacity: 0.80;
}

.resources {
  color: black; 
  font-weight: bold;
}
a {
  color: rgb(240,80,110);
}
a:hover {
  color:pink;
  text-decoration:none;

}
